// $color-primary: #FAC463;
$color-secondary: #494949;
$color-error: rgba(255, 0, 0, 0.5);
$color-gray-ligth: #4949493d;
$color-dark-white: #f8f8f8;


$box-shadow: 0 0 10px rgba($color: #000000, $alpha: .1);